<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.auraCuna">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFirebase"
        tools:targetApi="31">

        <activity
            android:name=".casos_uso.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".casos_uso.RegistroActivity" />

        <activity
            android:name=".casos_uso.TwitterActivity" />

        <activity
            android:name=".casos_uso.ReestablecerContraseñaActivity" />

        <activity
            android:name=".casos_uso.ConfiguracionActivity" />

        <activity
            android:name=".casos_uso.PerfilActivity" />

        <activity android:name=".casos_uso.EstadisticasActivity" />

        <activity android:name=".casos_uso.RecyclerActivity" />

        <activity
            android:name=".casos_uso.HomePage"
            android:configChanges="orientation|screenSize"
            android:exported="true" />

        <activity android:name=".casos_uso.AcercaDeActivity"
            android:label="Acerca de ..."
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            />

        <activity android:name=".casos_uso.EditarDatosPersonalesActivity"
            android:label="Editar datos personales"
            android:theme="@style/PopupTheme"
            />

        <activity android:name=".casos_uso.CambiarContrasenyaActivity"
            android:label= "Cambiar contraseña"
            android:theme="@style/PopupTheme"
            />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".casos_uso.NotisActivity"
            android:label="Notificaciones"
            android:exported="true"
            />
    </application>
</manifest>
